@(userList: List[User],mainuser : User, userForm : Form[User],methodForm : Form[Payment])
@import helper._
<h2>Welcome @mainuser.name!</h2>

<head>
<title>Home</title>
</head>
<dl>
<li><b>Email :</b> <span>(@mainuser.email)</span></li>
<li><b>Assosiated Company :</b>@mainuser.company.cName</li>
<li><b>Assosiated Member Count :</b>@mainuser.company.cUsers.size()</li>

@if(mainuser.company.representative!=null){
	<li>Current Company representative:@mainuser.company.representative.email</li>
	}
@if(mainuser==mainuser.company.representative){
	
	@if(mainuser.company.payment==null){
		<h4>Please choose a payment type for the company.</h4>
		 @form(routes.HomeController.paymentMethod(mainuser.email)) {
		@inputRadioGroup(  
    	  methodForm("method"),
    	 options = Seq("P"->"Prepaid","B"->"Billing"),
    	 '_label -> "Payment",
    	 '_error -> methodForm("method").
            error.map(_.withMessage("select gender")))
             <input type="submit" value="Confirm">
            }
	}
	
	@if(mainuser.company.payment!=null){
		@if(mainuser.company.payment.prepaid==null){
		<h4>Paying method is billing, cost:@mainuser.company.payment.billing.bill</h4>
		}
		@if(mainuser.company.payment.billing==null){
		<h4>Paying method is prepaid, time: @mainuser.company.payment.prepaid.remainingtime</h4>
		}}
	

}
</dl>
<hr/>
@if(mainuser.getAdminStatus()) {
  
  
 <h1>User List : @userList.size() user(s)</h1>
<ol>
@for(user <- userList) {
  <li><b>Email:</b> @user.email
  <ul>
  <li><b>Username :</b> @user.name</li> 
  <li><b>Email Verification :</b> @user.getRegistered()</li>
  <li><b>Online Status :</b> @user.table.getStatus()</li> 
  <li><b>Company Name :</b> @user.company.cName</li>
  <ul>
  <li><b>Company Number of Users :</b> @user.company.cUsers.size()</li>
  </ul>
  <li><b>Total Online Time :</b> @user.table.calculateTotalTime()s</li>
  </ul>
  </li>
  
  @if(mainuser.email!=user.email) {@form(routes.HomeController.deleteUser(user.email)) {
                    <input type="submit" value="Delete">
                }}
                
} 
</ol>
<hr/>
<h2>Register a User:</h2>


    @form(routes.HomeController.addUser(mainuser.email)) {
        
        @inputText(userForm("Email")) 
        @inputText(userForm("Name"))
        @inputPassword(userForm("Password"))  
        @inputText(userForm("ComName"))
        <input type="submit" value="Create">
        
    }
    
     @if(flash.contains("failure")) {
    <p class="failure">
        @flash.get("failure")
    </p>
}
}

<a href="@routes.HomeController.logout(mainuser.email)">Logout</a>