@(userList: List[User],mainuser : User, userForm : Form[User])
@import helper._
<h2>Welcome @mainuser.name!</h2>


<dt>Email: <span>(@mainuser.email)</span></dt>

@if(mainuser.getAdminStatus()) {
  
  
 <h1>@userList.size() users(s)</h1>
<ul>
@for(user <- userList) {
  <li>Name : @user.name - Status:@user.getRegistered() - Admin Status : @user.getAdminStatus()-Password : @user.password OnlineStatus: @user.table.getStatus()  TotalOnlineTime(sec): @user.table.calculateTotalTime()seconds</li>@if(mainuser.email!=user.email) {@form(routes.HomeController.deleteUser(user.email)) {
                    <input type="submit" value="Delete">
                }}
                
} 
<h2>Register a User:</h2>
</ul>

    @form(routes.HomeController.addUser(mainuser.email)) {
        
        @inputText(userForm("email")) 
        @inputText(userForm("name"))
        @inputPassword(userForm("password"))  
        
        <input type="submit" value="Create">
        
    }
    
     @if(flash.contains("failure")) {
    <p class="failure">
        @flash.get("failure")
    </p>
}
}

<a href="@routes.HomeController.logout(mainuser.email)">Logout</a>