@(loginForm : Form[HomeController.Login])
@import helper._
 <head>
 <title>Efe's App</title>
 </head>
 <body>
 <h2 style="text-align:center">Login</h2>
 
    @form(routes.HomeController.authenticate, 'style -> "text-align:center") {
        
        @inputText(loginForm("Email")) 
        @inputPassword(loginForm("Password"))  
        <p style="text-align:center">
        <input  type="submit" value="Confirm">
        </p>
    }
    @if(flash.contains("success")) {
    <p style="text-align:center" class="success">
        @flash.get("success")
    </p>
}
<p style="text-align:center">[<a  href="@routes.HomeController.main()">Sign Up</a>]
</p>
</body>