
<html>
<link rel="stylesheet" href="@routes.Assets.at("bootstrap-4.0.0/css/bootstrap.css")","bootstrap.css">
<script type='text/javascript'
	src='@routes.Assets.at("bootstrap/js/bootstrap.js")'></script>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Efe's App</title>
</head>
<body>
<!--  
<div id="fix-for-navbar-fixed-top-spacing" style="height: 90px;">&nbsp;</div>

<div class="container">
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <h1 class="navbar-brand mb-0">AppOfEfe</h1>
      
</nav>
</div>
	<h2 style="text-align: center">Login</h2>

	<div class="container">
	
	</div>
	-->
</body>

</html>