@(userForm : Form[User])

@import helper._
<head>
<title>Sign up</title>
</head>
 <h2 style="text-align:center">Sign Up</h2>
    
    @form(routes.HomeController.newUser , 'style -> "text-align:center") {
        
        @inputText(userForm("Email")) 
        @inputText(userForm("Name"))
        @inputPassword(userForm("Password"))  
        @inputText(userForm("ComName"))
        
        <input style="text-align:center" type="submit" value="Create">
        
    }
    
     @if(flash.contains("failure")) {
    <p style="text-align:center" class="failure">
        @flash.get("failure")
    </p>
}
<p style="text-align:center">[
<a href="@routes.HomeController.login()">I already have an account.</a>]</p>