@(userForm : Form[User])

@import helper._

 <h2>Sign Up</h2>
    
    @form(routes.HomeController.newUser) {
        
        @inputText(userForm("email")) 
        @inputText(userForm("name"))
        @inputPassword(userForm("password"))  
        @inputText(userForm("comName"))
        
        <input type="submit" value="Create">
        
    }
    
     @if(flash.contains("failure")) {
    <p class="failure">
        @flash.get("failure")
    </p>
}
<a href="@routes.HomeController.login()">I already have an account.</a>